/* MM TOS Link */
div.settings-page__content-row > div:nth-child(2) > div:nth-child(3),
/* MM About tab link */
div.settings-page__content__tabs > div > div:nth-child(6),
/* Dropdown Info & Help Link */
div.menu.account-menu > div:nth-child(10) {
  display: none;
}
