.connect-wallet-container {
  width: 100%;
  border: 1px solid rgb(218, 220, 232);
  border-radius: 12px;
  padding: 20px 35px;
  text-align: left;
  margin-top: 20px;

  .wallet-title span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: rgb(59, 62, 79);
  }

  .wallet-sub-text span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    max-width: 515px;
  }

  .controls {
    float: right;
    margin-top: 23px;
  }

  .create {
    width: 85px;
    height: 32px;
    border: 1px solid rgb(194, 196, 207);
    border-radius: 100px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(59, 62, 79);
    cursor: pointer;
    width: 120px;
  }

  .restore {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 65px;
    margin-top: 7px;
    display: block;
  }

  .hardware-img {
    width: 100px;
  }
}

.app-header {

  &--back-drop {

    &::after {
      height: 0px;
      background: inherit;
    }
  }

  @media screen and (min-width: 576px) {
    height: 75px;
    justify-content: center;

    &--back-drop {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;
        background: inherit;
        bottom: -32px;
      }
    }
  }
}
