.connect-wallet-container {
  border: 1px solid $brave-grey-2;
  border-radius: 12px;
  margin: 20px 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .wallet-desc {
    flex: 1 1 auto;
    max-width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    div {
      text-align: left;
    }

    .wallet-title span {
      font-size: 18px;
      line-height: 27px;
      font-weight: 600;
      font-family: 'Poppins';
      img {
        width: 100px;
      }
    }

    .wallet-sub-text span {
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;

      margin-top: 5px;
    }
  }

  .controls {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .create, .restore {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
      color: $brave-grey-7;
      font-family: 'Poppins';
    }

    .create {
      background-color: white;
      border: 1px solid $brave-grey-2;
      border-radius: 24px;
      cursor: pointer;

      .create-icon path {
        fill: $brave-grey-7;
      }
    }

    .restore {
      cursor: pointer;
      margin: 10px 15px 0px 0px;
    }
  }
}

.app-header {

  &--back-drop {

    &::after {
      height: 0px;
      background: inherit;
    }
  }

  @media screen and (min-width: 576px) {
    height: 75px;
    justify-content: center;

    &--back-drop {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0px;
        background: inherit;
        bottom: -32px;
      }
    }
  }
}
