.br-toolbar {
  position: relative;
  height: 56px;
  background: linear-gradient(to left, #b10e95, #e72f43);
  color: white;
}

.nav-items {
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.nav-items_list-item {
  display: flex;
}

.nav-item {
  padding: 0 32px;
  display: flex;
  align-items: center;
  overflow: hidden;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.fonts-loaded .nav-item {
  opacity: 1;
}

.nav-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

.nav-item:focus {
  background: rgba(0, 0, 0, 0.2);
}

.nav-item:active {
  background: rgba(0, 0, 0, 0.3);
}

.nav-item.-selected {
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
}

.nav-item_icon {
  display: flex;
  align-items: center;
  color: inherit;
}

.nav-item_icon path {
  fill: currentColor;
}

.nav-item_text {
  margin: 0 0 0 8px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
}

@media only screen and (max-width: 1067px) {
  .nav-item_text {
    display: none;
  }
}

.toolbar-extra {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}

.toolbar-extra.-slot-filled {
  background: #dde1e2;
  padding: 5px;
  color: #222;
}

:host-context([dark]) .toolbar-extra.-slot-filled {
  background: #444;
  color: #dde1e2;
}
