.welcome-container {
  background: $brave-main-background;
  width: 100%;
  height: 100vh;

  .content {
    width: 930px;
    margin: 30px auto;
    background: $brave-main-background;
  }

  .welcome-title span {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    font-family: 'Poppins';
  }
}

#app-content {
  background: $brave-main-background;
}

.first-time-flow {
  background: $brave-main-background;

  button {
    border-radius: 30px;
  }
}

.first-time-flow__wrapper,
.end-of-flow {
  background: $brave-card-background;
  border-radius: 8px;
  margin-top: 40px;
}

.first-time-flow__wrapper {
  max-width: 930px;
  padding: 40px 30px;
}

.end-of-flow {
  width: 930px;
  padding: 0 30px;
}

.end-of-flow__emoji {
  margin-top: 50px;
}
