/*
 * Brave Generic Font Rules
 */

@import url('./fonts/muli.css');
@import url('./fonts/poppins.css');

button {
  font-family: Muli;
  font-weight: bold;
}

p, span, label, div, a, input {
  font-family: Muli;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: Poppins;
  font-weight: normal;
}
