.confirmation-footer {
  grid-area: footer;

  &__actions {
    display: flex;
    border-top: 1px solid;
    background-color: white;
    padding: 16px;

    & .button:first-child {
      margin-right: 16px;
    }
  }
}
