/*
 * Brave Generic Font Rules
 */

button {
  font-family: Muli;
  font-weight: bold;
}

p,
span,
label,
div,
a,
input {
  font-family: Muli;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Poppins;
  font-weight: normal;
}

/*
 * Brave Style Overrides
 */
.provider-approval-container__content {
  margin-bottom: 25px;

  .secure-badge {
    display: none;
  }
}

.reveal-seed-phrase__secret {
  margin-bottom: 36px;
}

.network-form__footer {
  button {
    &:disabled {
      display: none;
    }
  }
}

div.settings-page__content-row > div:nth-child(2) > div:nth-child(3):not(.address-book__view-contact__group),
div.settings-page__content__tabs > div > div:nth-child(7):not(.address-book__view-contact__group),
div.menu.account-menu > div:nth-child(10):not(.address-book__view-contact__group) {
  display: none;
}
