@media (prefers-color-scheme: dark) {
  #app-content.dark,
  #popover-content.dark {
    color: #fff;
    background: $brave-black;
  }

  .import-account__back-button {
    color: #fff;
  }

  .main-container,
  .new-account {
    border: 1px solid #686868;
  }

  .trezor-logo,
  .ledger-logo path,
  .bitgo-logo .logo-text {
    fill: $brave-dark-text;
  }

  .first-time-flow {
    background: $brave-black;

    div, label {
      color: $brave-dark-text;
    }

    .first-time-flow__wrapper,
    .end-of-flow {
      background: $brave-dark-card-background;
    }

    .welcome-container {
      background-color: $brave-black;

      .content {
        background: $brave-dark-main-background;
      }

      .connect-wallet-container {
        background: $brave-dark-card-background;

        .wallet-title {
          color: $brave-dark-text;
        }

        .wallet-sub-text {
          color: $brave-dark-subtext;
        }

        .create, .restore {
          color: $brave-dark-text;
        }

        .create {
          border-color: $brave-grey-7;
        }

        .create-icon path {
          fill: $brave-grey-2;
        }
      }
    }
  }

  .wallet-view {
    background: $brave-black;
  }

  .transaction-list-item {
    background: $brave-dark-card-background;

    .transaction-status--confirmed {
      background: #609a1c;
    }
  }

  /*
   * This block contains inner containers and form elements
   * that are not targetable with general rules
   */
  .app-header,
  .transaction-view,
  .account-modal-container,
  .new-account,
  .page-container > div,
  .new-account-import-disclaimer,
  select,
  .Select,
  .simple-dropdown,
  .Select-control,
  .settings-page,
  .add-to-address-book-modal,
  .send-v2__form-row > div,
  .transaction-list-item-details__body,
  .send__select-recipient-wrapper__group-label,
  .send-v2__asset-dropdown,
  .unit-input,
  .send__dialog.dialog--message,
  .ens-input__wrapper--valid,
  .confirm-page-container-summary,
  .provider-approval-container,
  .confirm-page-container-content__data-box,
  .confirm-page-container-content__data-box,
  .page-container__warning-container,
  .export-text-container__text-container,
  .export-text-container__text,
  .first-view-main-wrapper,
  .modal-container,
  .request-signature__container,
  .request-signature__account-item,
  .network-display__container,
  .send-v2__asset-dropdown__list,
  .transaction-status--submitted {
    background: $brave-dark-card-background;
  }

  .Select-menu-outer,
  .simple-dropdown__options,
  .send-v2__asset-dropdown__list {
    * {
      background: $brave-dark-card-background;
    }
  }

  .advanced-tab__transaction-data-summary {
    background: #fff;
    margin: 0 0 -5px 0;
  }

  .custom-tooltip th {
    color: #fff;
  }

  .send-v2__asset-dropdown__asset {
    &:hover {
      background-color: $brave-dark-card-background;
    }
  }

  .confirm-page-container-content {
    .tabs__list {
      background: $brave-dark-card-background;
    }

    .tab.tab--active {
      color: #8c8e94;
    }
  }

  .app-header {
    &::after {
      background: $brave-dark-card-background;
    }
  }

  /* QR code will not work without background contrast */
  .qr-wrapper {
    background: #fff;
  }

  button {
    color: #fff;
    background: inherit;
    border: 1px solid #fff;
  }

  .ens-input,
  input,
  .MuiInput-input,
  .first-time-flow__seedphrase {
    color: #fff;
    background: inherit;
  }

  .confirm-seed-phrase__seed-word,
  .reveal-seed-phrase__secret-words,
  .ens-input__wrapper__input,
  .dialog.send__error-dialog.dialog--error,
  .error-message__text {
    color: #000;
  }


  .hw-connect__btn__img,
  .deposit-ether-modal__logo {
    filter: invert(0.8);
  }

  .hw-connect__btn.selected {
    border: 2px solid #00a8ee;
  }

  .add-token-button__button {
    color: #00a8ee;
  }

  .gas-price-button-group--small {
    .button-group__button--active {
      border: 1px solid #3099f2;
    }
  }

  .token-list-placeholder,
  .currency-display-component {
    img {
      filter: brightness(0) invert(1);
    }
  }

  .advanced-tab__fee-chart,
  .gas-modal-content__info-row-wrapper,
  .qr-scanner,
  .gas-modal-content {
    * {
      color: #000;
    }
  }

  .btn-warning,
  .btn-danger {
    color: #d73a49;
    border: 2px solid #d73a49;
  }

  .provider-approval-visual__check {
    background: url(/images/provider-approval-check.svg) no-repeat;
  }

  .signature-request-message {
    &--root {
      background: $brave-dark-card-background;
    }
  }

  .signature-request.page-container,
  .asset__container,
  .home__tabs,
  .home__main-view,
  .list-item.asset-list-item,
  .permissions-connect,
  .permission-approval-container,
  .request-signature__header-background,
  .request-signature__header__tip {
    background: $brave-dark-card-background;
  }

  .menu-bar__account-options,
  .asset-breadcrumb {
    border: none;
  }

  .selected-account,
  .permissions-connect-choose-account__account {
    &:hover {
      background: inherit;
    }
  }

  .account-modal-close {
    border: none;
  }

  .tab--active {
    color: #fff;
  }

  .new-account-modal {
    background: black;
  }

  .menu__container.account-options-menu {
    background: black;

    .menu-item {
      color: #fff;
    }
  }

  .permissions-connect-footer__text--link,
  .permissions-connect-choose-account__text-blue {
    color: #037dd6;
  }

  .popover-wrap,
  .menu__container.account-options-menu {
    .menu-item,
    .popover-header__button {
      border: none;
    }

    * {
      background: #000;
      color: #fff;
    }
  }

  .cancel-transaction-gas-fee,
  .menu__container,
  .popover-wrap {
    background: inherit;
  }

  .menu__container {
    .menu-item {
      border: none;
    }
  }

  .private-key-password-warning {
    background: #cd5c5c;
  }

  .notification-modal__header,
  .notification-modal__message-wrapper {
    background: $brave-dark-card-background;
  }

  .address-book__view-contact__group__static-address--copy-icon {
    border: none;
  }

  .qr-scanner {
    background: $brave-dark-card-background;

    div {
      color: #fff;
    }
  }

  .hw-account-list {
    &__item:nth-of-type(even) {
      background: rgba(0, 0, 0, 0.03);
    }
  }

  .hide-token-confirmation {
    border-radius: 0;
    background: #282a2c;
  }

  .token-options__button {
    border: none;
  }
}
